h1 {
    color: darkgoldenrod;
}

body{
    color: aliceblue;
    background-color: black;
    text-align: center;
}

p {
    font-size: 20px;
}

#myCanvas{
    border:2px solid #c3c3c3;
    
}

#hanghere{
    float:right;
    margin-right: 10%;
}